/* default css */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  font-family: "Inter", serif;
  background-color: #f9f9f7;
}

/* header */
.header {
  background-color: white;
  color: #171819;
  font-size: 1rem;
  box-shadow: 5px 2px 5px #d4d4d4;
  /* else box shadow wont work */
  z-index: 999;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding-top: 1em;
  padding-bottom: 1em;
}

.logo {
  width: 2em;
  height: 2em;
}

.title {
}

/* main */
.main {
  margin: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*  main form  */
.form-container {
  padding-inline: 2em;
  padding-block: 1em;
  width: 100%;
  max-width: 1000px;
}

.form {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.form-input {
  flex: 1;
}

.form-input,
.form-submit {
  height: 2.5em;
  padding: 0.2em 0.8em;
}

.form-submit {
  background: black;
  color: white;
  font-weight: 600;
  border: none;
  border-radius: 5px;
}

.form-submit:active,
.form-submit:hover {
  border: 2px solid black;
  background-color: whitesmoke;
  color: black;
}

/* main ingredients list */

.ingredients-list {
  padding-inline: 2em;
  padding-block: 1em;
  width: 100%;
  max-width: 1000px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-inline-start: 1.2em;
}

.list li {
  list-style: lower-greek;
}

.list-heading {
  font-size: 2rem;
  margin-block-end: 0.5em;
}

.get-recipe {
  background-color: #d1d1d1;
  display: flex;
  border-radius: 6px;
  width: 100%;
  max-width: 800px;
  margin-block-start: 1em;
  padding: 1em 2em;
}

.left {
  /* border:2px solid green; */
  flex: 1;
}

.want-recipe {
  font-weight: 600;
  margin-block-end: 0.2em;
}

.want-recipe-bottom {
  font-size: 0.7rem;
  color: rgb(75, 75, 75);
}

.right {
  /* border:2px solid blue; */
  /* align-self: flex-end; */
}

.get-recipe-btn button {
  color: black;
  background-color: #ff7950;
  font-size: 0.6em;
  font-weight: 600;
  font-size: 0.8em;
  padding: 8px 16px;
  border-radius: 6px;
  margin-block-start: 0.6em;
}

/* Responsive */
@media screen and (max-width: 800px) {
  .form {
    flex-direction: column;
  }
  .form-input,
  .form-submit {
    width: 100%;
    font-size: 0.8rem;
  }

  .get-recipe {
    flex-direction: column;
  }
  .get-recipe-btn button {
    font-size: 1.2em;
  }
}
